<div class="container form text-center col-md-6 mt-3">
<h2>Edit Your Research Form</h2>
  <%= simple_form_for [@lost_person] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age %>
    <%= f.input :last_known_location %>
    <%= f.input :last_known_clothes %>
    <%= f.input :height %>
    <%= f.input :body_type %>
    <%= f.input :description %>
    <%= f.input :disparition_date_time, html5: true %>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
