<div class="container form text-center col-md-6 mt-3">
  <div class="title-container"> <h3>Modifier l'avis de recherche</h3>
  </div>
  <%= simple_form_for [@lost_person] do |f| %>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Informations obligatoires*
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <%= f.input :first_name, label:"Prénom" %>
            <%= f.input :last_name, label:"Nom de famille" %>
            <%= f.input :age %>
            <%= f.input :height, placeholder: 'en cm...', label:"Taille", input_html: { class: 'text-center' } %>
            <%= f.input :disparition_date_time, label:"Date de disparition", html5: true %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Informations non obligatoires
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <%= f.input :last_known_location, label:"Dernier endroit aperçu", input_html: { id: "search_address"} %>
            <%= f.input :description %>
          </div>
        </div>
      </div>
    </div>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Ajouter une photo' %>
    <%= f.button :submit, "Modifier l'avis de recherche", class: "button button-primary" %>
  <% end %>
</div>

