<div class="container form text-center col-md-6 mt-3">
<h2>Research Form</h2>
  <%= simple_form_for [@lost_person] do |f| %>
    <%= f.input :first_name, label:"Prénom" %>
    <%= f.input :last_name, label:"Nom de famille" %>
    <%= f.input :age %>
    <%= f.input :last_known_location, label:"Vu pour la dernière fois", input_html: { id: "search_address"} %>
    <%= f.input :last_known_clothes, label:"Vêtements" %>
    <%= f.input :height, placeholder: 'en cm...', input_html: { class: 'text-center' } %>
    <%= f.input :body_type, label:"Morphologie" %>
    <%= f.input :description %>
    <%= f.input :disparition_date_time, label:"Date de disparition" %>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
