<div class="" style="overflow:scroll;">
  <div class="title-container d-flex align-items-center">
    <h3> Fil d'actualité </h3>
  </div>

<div class="" style="max-height:650px!important;overflow:scroll;">
  <% @feed_infos.each do |info| %>
    <div class="container searchparties-card-index">
      <p class= "text-left"> <%= info.created_at.strftime("%d/%m/%Y %HH%M") %> </p>
      <h4><%= info.title %></h4>
      <p class= "text-left"><%= info.description %></p>
      </div>
  <% end %>
</div>
  <div class="button-index-search">
      <span class="button button-primary" data-toggle="modal" data-target="#feedinfoModal">Envoyer une informations</span>
  </div>
<div class="container">
  <div class="modal fade" id="feedinfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Partager une information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@lost_person, @feedinfo] do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <div class= "d-flex flex-row-reverse">
              <%= f.submit 'Partager', class: 'button button-secondary-alt' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
