<div id="map"
    style="width: 100%; height: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-itineraries="<%= @itineraries.to_json %>"
    data-colors="<%= @colors.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="retractable-card">
  <div class="main-info-card">
    <div class="up-down-icon">
      <i class="fas fa-chevron-down" id="arrow-down-retractable"></i>
    </div>
    <div class="card-content d-flex justify-content-around align-items-center">
        <% if @search_party_attendancies.any? %>
          <%= link_to(search_party_attendancy_path(@search_party_attendancies.last.id)) do %>
            <i class="fas fa-angle-left slide-arrows"></i>
          <% end %>
        <% end %>
      <div class="text-card">
      <!-- <i class="fas fa-angle-left slide-arrows"></i> -->
        <h6>Battue du 2 Décembre 2018</h6>
        <p>Vue Globale</p>
      </div>
        <% if @search_party_attendancies.any? %>
          <%= link_to(search_party_attendancy_path(@search_party_attendancies.first.id)) do %>
            <i class="fas fa-angle-right slide-arrows"></i>
          <% end %>
        <% end %>
    </div>
  </div>
    <div class="card-button d-flex justify-content-between align-items-center flex-column" id="card-button-display">
        <%= link_to(lost_person_feed_infos_path(@search_party.lost_person)) do %>
        <!-- <a href="", class="fas fa-angle-right slide-arrows"> -->
          <!-- <p class="fas fa-angle-right slide-arrows"></p> -->
          <h6 class="button button-primary-alt retrac-card-button" style="background-color:#108b8d;color:white;border:none;">Publier une information  <i class="fas fa-paper-plane"></i></h6>
        <% end %>
      <!-- <a href="lost_person_feed_infos" class="button button-secondary" id="publish-info">Publier une information  <i class="fas fa-paper-plane"></i></a> -->
    </div>
  </div>


