<div id="map"
    style="width: 100%; height: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-itinerary="<%= @itinerary.to_json %>"
    data-color="<%= @color.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="retractable-card">
    <div class="up-down-icon">
      <i class="fas fa-chevron-down" id="arrow-down-retractable"></i>
    </div>
    <div class="card-content d-flex align-items-center justify-content-around">
      <%= link_to(search_party_search_party_attendancies_path(@search_party)) do %>
        <i class="fas fa-angle-left slide-arrows"></i>
      <% end %>
      <div class="text-card">
        <h6> Battue du <%= @search_party.date.strftime("%d/%m/%Y") %></h6>
        <p><%= @chatroom.volunteer.first_name %></p>
      </div>
      <%= link_to(search_party_search_party_attendancies_path(@search_party)) do %>
        <i class="fas fa-angle-right slide-arrows"></i>
      <% end %>
     <!--  <%#= link_to(search_party_search_party_attendancies_path(@search_party)) do %>
        <a href="", class="fas fa-angle-right slide-arrows">
          <p class="fas fa-angle-right slide-arrows"> </p>
      <#% end %> -->

    </div>
    <div class="card-button d-flex justify-content-between align-items-center flex-column" id="card-button-display">
      <%= link_to(lost_person_chatroom_path(@search_party.lost_person, @chatroom)) do %>
        <!-- <i class="fas fa-angle-left slide-arrows"></i> -->
          <h6 class="button button-primary-alt retrac-card-button mt-4">Envoyer un message  <i class="fas fa-paper-plane"></i></h6>
      <% end %>
    </div>
  </div>



