<div style="overflow:scroll;">
    <div class="title-container d-flex align-items-center">
      <%= link_to lost_person_chatrooms_path(@chatroom.lost_person) do %>
        <i class="fas fa-chevron-left button-secondary">Messages</i>
      <% end %>
    <h3 class style="margin: 7vh;"><%= @chatroom.volunteer.first_name %> <%= @chatroom.volunteer.last_name %></h3>
    </div>
    <div class="container">
      <div class="container-all">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <div class="message-host">
            <% @chatroom.messages.each do |message| %>
                <div class="message-container mt-1 mb-4 pb-1
                    <%= message.user.role == "host" ? "host-message" : "volunteer-message" %>"
                    style="background-color: white;" id="message-<%= message.id %>" >
                  <i class="author"><span><%= message.user.first_name %></span>
                    <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
                  </i>
                  <div class="message-content mt-1">
                    <div class="message-transfert">
                      <i class="fas fa-share" data-toggle="modal" data-target="#chatModal-<%= message.id %>"></i>
                    </div>
                    <p><%= message.content %></p>
                  </div>
                </div>
                <!-- MODALE MESSAGE TRANSFERT -->
                <div class="modal fade" id="chatModal-<%= message.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Partager avec les volontaires</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [ @chatroom.host.lost_people.last, @feed_info ] do |f| %>
                          <%= f.input :title %>
                          <%= f.input :description,  input_html: {value: message.content} %>
                          <%= f.submit "Partager", class: "button button-secondary" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="input-host pb-5">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Ecrire à #{@chatroom.volunteer.first_name}" %>
          <% end %>
        </div>
      </div>
    </div>
</div>
