<div class="main-content-chatroom" style="overflow:scroll;">
    <div class="title-container d-flex align-items-center">
      <%= link_to lost_person_chatrooms_path(@chatroom.lost_person), id:"back-button", class:"button button-secondary" do %>
        <span><i class="fas fa-chevron-left"></i> Messages</span>
      <% end %>
    <h3 class style="margin: 7vh;"><%= @chatroom.volunteer.first_name %> <%= @chatroom.volunteer.last_name %></h3>
    </div>
    <div class="container">
      <div class="container-all">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <div class="message-host">
            <% @chatroom.messages.each do |message| %>
                <div class="message-container mt-1 mb-4 pb-1
                    <%= message.user.role == "host" ? "host-message" : "volunteer-message" %>"
                    id="message-<%= message.id %>" >
                  <div class="author align-items-center"><div class="User-name-host"><strong><%= message.user.first_name %></strong> - <em><%= message.created_at.strftime("%d %h %Y à %Hh%M") %></em></div>
                  </div>
                  <div class="message-content mt-1">
                    <div class="message-transfert">
                      <i class="fas fa-share" data-toggle="modal" data-target="#chatModal-<%= message.id %>"></i>
                    </div>
                    <p><%= message.content %></p>
                  </div>
                </div>
                <!-- MODALE MESSAGE TRANSFERT -->
                <div class="modal fade" id="chatModal-<%= message.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Partager avec les volontaires</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [ @chatroom.host.lost_people.last, @feed_info ] do |f| %>
                          <%= f.input :title, label: "Titre" %>
                          <%= f.input :description,  input_html: {value: message.content} %>
                          <div class= "d-flex flex-row-reverse">
                            <%= f.submit 'Partager', class: 'button button-secondary-alt' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="input-host">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Ecrire à #{@chatroom.volunteer.first_name}" %>
          <% end %>
          <i class="fas fa-paper-plane"></i>
        </div>
      </div>
    </div>
</div>
