<% if user_signed_in? && current_user.role == "host" %>
      <div class="child header-container d-flex align-items-center flex-column">
      <div class="margin-top-20-percent" style="margin-top:20%;">
        <h1 id="title-homepage">Bienvenue sur Huchi</h1>
      </div>
      <div class="margin-top-20-percent">
        <p id="sign-text-homepage">Courage, ensemble nous y arriverons.</p>
      </div>
    </div>
    <div class="child sign-button d-flex align-items-center flex-column" id="goto-search">
      <% if current_user.lost_people.any? %>
        <%= link_to 'Continuer la recherche', lost_person_path(current_user.lost_people.last), class:"button button-primary"%>
      <% else %>
        <%= link_to "Créer une recherche", new_lost_person_path, class: "button button-primary" %>
      <% end %>
    </div>
<% elsif user_signed_in? && current_user.role == "volunteer"%>
  <%= render "shared/join_search" %>
<% elsif user_signed_in? && current_user.role == nil %>
  <div class="container profile">
    <img class="logo" src="https://res.cloudinary.com/mims/image/upload/v1606827948/logo_transparent_ruh8uj.png">
    <h2>Vous recherchez <br> quelqu'un ?</h2>
    <p>Organisez rapidement une battue et trouvez des volontaires pour vous aider à retrouver ceux qui vous sont chers</p>
    <div class="host button button-primary">
      <%= link_to "Je suis organisateur", user_path(current_user, role: "host"), method: :patch%>
    </div>
    <div class="volunteer button button-primary">
      <%= link_to "Je suis volontaire", user_path(current_user, role: "volunteer"), method: :patch%>
    </div>
  </div>
<% else %>
  <div>
    <div class="child header-container d-flex align-items-center flex-column">
      <div style="margin-top:20%;">
        <h1 id="title-homepage">Bienvenue sur Huchi</h1>
      </div>
      <div>
        <p id="sign-text-homepage">Afin de pouvoir mieux organiser les recherches, il est nécessaire d'être connecté pour accéder au reste de l'application.</p>
      </div>
    </div>
    <div class="child sign-button d-flex align-items-center flex-column" id="log-sign-buttons">
      <div style="margin-bottom:5%;" class="full-width-button">
        <%= link_to "Connexion", new_user_session_path, class: "button button-primary ", id:"connection-button" %>
      </div>
      <div class="full-width-button">
        <%= link_to "Créer un Compte", new_user_registration_path, class:"button button-primary-third" %>
      </div>
    </div>
  </div>
<% end %>
