<% if user_signed_in? && current_user.role == "host" %>
      <div class="child header-container d-flex align-items-center flex-column">
      <div class="margin-top-20-percent" style="margin-top:20%;">
        <h1 id="title-homepage">Bienvenue sur Scoopid</h1>
      </div>
      <div class="margin-top-20-percent">
        <p id="sign-text-homepage">Courage, ensemble nous y arriverons.</p>
      </div>
    </div>
    <div class="child sign-button d-flex align-items-center flex-column" id="goto-search">
      <%= link_to 'Continuer la recherche', lost_person_path(current_user.lost_people.last), class:"button button-primary"%>
    </div>
<% elsif user_signed_in? && current_user.role == "volunteer"%>
  <h1>Hello <%= current_user.first_name %></h1>
<% elsif user_signed_in? && current_user.role == nil %>
  <h1>choose</h1>
  <div class="container">
    <%= link_to "HOST", user_path(current_user, role: "host"), method: :patch, :class => "btn btn-primary" %>
    <%= link_to "VOLUNTEER", user_path(current_user, role: "volunteer"), method: :patch, :class => "btn btn-primary" %>
  </div>
<% else %>
  <div>
    <div class="child header-container d-flex align-items-center flex-column">
      <div style="margin-top:20%;">
        <h1 id="title-homepage">Bienvenue sur Scoopid</h1>
      </div>
      <div>
        <p id="sign-text-homepage">Afin de pouvoir mieux organiser les recherches, il est nécessaire d'être connecté pour accéder au reste de l'application.</p>
      </div>
    </div>
    <div class="child sign-button d-flex align-items-center flex-column" id="log-sign-buttons">
      <div style="margin-bottom:5%;">
        <%= link_to "Connexion", new_user_session_path, class: "button button-primary", id:"connection-button" %>
      </div>
      <div>
        <%= link_to "Créer un Compte", new_user_registration_path, id:"account-creation-linK" %>
      </div>
    </div>
  </div>
<% end %>
