<%# <% if policy(SearchParty).create? %>
  <%#= link_to "New Search Party", new_searchparty_path %>
<%# end %>
<div class="container-fluid" id="searchparty-new">
  <div class="container form text-center col-md-6">
    <h1 class="form-title">Nouvelle Battue</h1>
    <%= simple_form_for [@search_party] do |f| %>
      <%= f.input :start_date_time %>
      <%= f.input :end_date_time %>
      <%= f.input :meeting_location %>
      <%= f.input :description %>
      <%= f.input :radius %>
      <div class="form-actions d-flex align-items-center flex-column" id="searchparty-create">
        <%= f.button :submit, "Créer une battue", class: "button button-primary" %>
      </div>
    <% end %>
  </div>
</div>
