<div class="container form text-center col-md-6 mt-3">
  <h1>search party details</h1>

  <p>Date : <%= @search_party.date %></p>
  <p>Start time : <%= @search_party.start_time.hour %></p>
  <p>Start time : <%= @search_party.end_time.hour %></p>
  <p>Meeting location : <%= @search_party.meeting_location %></p>
  <p>Description : <%= @search_party.description %></p>

  <% if policy(@search_party).edit? %>
    <%= link_to "Update", edit_search_party_path(@search_party) %>
  <% end %>
</div>
